.my-projects {
  padding: 5rem 1rem;
  overflow: hidden;
  position: relative;

  &__wrapper {
    max-width: 1000px;
    margin: auto;

    .nav {
      border: 2px solid #565656;
      border-radius: 20px;
      padding: 1rem 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      overflow: hidden;
      background-color: #56565627;

      a {
        font-family: "Syne", sans-serif;
        font-size: 20px;
        color: #a7a4a4;

        &:hover {
          color: #cecece;
        }

        @media (max-width: 567px) {
          font-size: 1rem;
        }
      }
    }

    .myprojects-main {
      margin-top: 2rem;

      .myprojects-main-header {
        font-family: "Syne", sans-serif;
        font-size: 50px;
        color: #d1d1d1;
        max-width: 600px;
        line-height: 1;

        @media (max-width: 567px) {
          font-size: 30px;
        }

        @media (max-width: 800px) and (min-width: 567px) {
          font-size: 40px;
        }
      }

      .myprojects-container {
        margin-top: 1.5rem;

        .myprojects-container-grid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;

          @media (max-width: 567px) {
            grid-template-columns: 1fr;

            img {
              height: max-content;
              object-fit: fill;
            }
          }

          img {
            width: 100%;

            border-radius: 10px;

            @media (max-width: 567px) {
              height: max-content;
              object-fit: fill;
            }
          }

          h1 {
            font-size: 24px;
            color: #fff;
            font-weight: 600;
            font-family: "Syne", sans-serif;
            margin-top: 1rem;
            line-height: 1;
            @media (max-width: 567px) {
              font-size: 24px;
            }
          }

          p {
            color: #a7a4a4;
            font-weight: 500;
            font-family: "Poppins", sans-serif;
            margin-top: 0.6rem;
          }

          button {
            background-color: #8cf506;
            font-family: "Syne", sans-serif;
            padding: 0.7rem 1.6rem;
            display: inline-block;
            margin-top: 1.2rem;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            gap: 1rem;
            transition: 300ms ease;
            &:hover {
              background-color: #73ca02;
              transition: 300ms ease;
            }

            svg {
              width: 18px;
              font-weight: bolder;
            }
          }
        }
      }
    }
  }
}

// Project Card Stylinh
.project-card {
  position: fixed;
  height: auto;
  top: 0;
  width: 100%;
  bottom: 0;
  background-color: #171717e7;
  backdrop-filter: blur(10px);
  z-index: 23;
  padding: 2rem;
  overflow: scroll;
  .close-card {
    font-family: "Syne", sans-serif;
    color: #b5b5b5;
    position: fixed;
    right: 3rem;
    font-size: 24px;
    font-weight: 600;
  }

  hr {
    color: red;
  }

  .project-wrapper {
    padding-top: 4rem;
    max-width: 900px;
    margin: auto;

    .project-technologies {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.7rem;
      margin-top: 1rem;

      p {
        padding: 0.6rem 1rem;
        background-color: #ffffff21;
        border-radius: 10px;
      }
    }

    .project-content {
      color: #fff;

      h1,
      a {
        font-family: "Syne", sans-serif;
        font-weight: 600;
        font-size: 30px;

        @media (max-width: 567px) {
          font-size: 24px;
        }
      }

      p {
        font-family: "Poppins", sans-serif;
        color: #b5b5b5;
      }
    }
  }
}
