.tech {
  padding: 5rem 1rem;
  overflow: hidden;
  position: relative;

  &__wrapper {
    max-width: 900px;
    margin: auto;

    @media (max-width: 567px) {
      max-width: 100%;
    }

    .tech-header {
      font-size: 36px;
      color: #fff;
      font-weight: 600;

      @media (max-width: 567px) {
        font-size: 24px;
      }
    }

    .tech-desc {
      color: #a7a4a4;
      font-size: 1rem;
      max-width: 500px;

      @media (max-width: 567px) {
        font-size: 1rem;
      }
    }

    .tech-stack {
      margin-top: 2rem;

      .tech-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        max-width: 900px;
        margin: 0 auto;
        gap: 1rem;

        @media (max-width: 567px) {
          grid-template-columns: repeat(2, 1fr);
          max-width: 100% !important;
        }
        .tech-card {
          width: 180px;
          height: 130px;
          border-radius: 10px;
          background-color: #ffffff07;
          border: 2px solid #a3a3a36c;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 0.6rem;
          img {
            width: 30px;
          }
          @media (max-width: 567px) {
            height: 120px;
            width: 100%;
            img {
              width: 20px;
            }
          }
          p {
            font-size: 20px;
            font-weight: 500;
            color: #ffffff6b;

            @media (max-width: 567px) {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  .tech-blur-eff {
    position: absolute;
    z-index: -1;
    height: 120%;
    top: 0;

    @media (max-width: 567px) {
      width: 190% !important;
    }
  }
}
